.main {
  display: flex;
  align-items: center;
  margin-top: 4rem;

  & button {
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 500;
  }

  & svg {
    height: 2.1rem;
    width: 2.1rem;
    top: .9rem;
  }
}

.perPage {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  & legend {
    display: none;
  }

  & fieldset {
    top: 0;
  }
}

.menuItem {
  font-family: inherit !important;
  font-size: 1.4rem !important;
}
