@mixin setTextField {
  font-size: 1.6rem !important;
  font-family: inherit !important;
}

@mixin formDirection {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;

  & > div {
    margin-bottom: 2.5rem;
  }
}

@mixin centerContent {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin buttonStyle {
  @include setTextField;
  font-weight: 500 !important;
  padding: 1rem 2rem !important;
  border-radius: 1rem !important;
  transition: all .1s !important;

  &:active {
    transform: translateY(0.3rem);
  }
}
