$color-blue-main: #366EFF;
$color-blue-light: #4879fc;
$color-green-main: #26c526;
$color-green-light: #45e045;
$color-gray-light: #eeeeee;
$color-gray-medium: #e7e7e7;
$color-gray-dark: #dadada;
$color-gray-darkest: #989898;
