@import "../../assets/sass/abstracts/vars";
@import "../../assets/sass/abstracts/mixins";

.wrapper {
  padding: 2rem;
  font-size: 1.7rem;
}

.profile {
  background: white;
  max-width: 80rem;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: .7rem;
  box-shadow: 0 0 1rem .4rem rgba(34, 60, 80, 0.2);

  & > div:not(:last-child) {
    margin-bottom: 1rem;
    text-align: center;
  }
}

.avatar {
  display: flex;
  justify-content: center;
  padding: 1rem;
  position: relative;

  & img {
    width: 17rem;
    height: 17rem;
    border-radius: 10rem;
  }
}

.uploadBox {
  background: #356bc9;
}

.svgPhoto {
  position: absolute;
  top: 138px;
  left: 416.6px;
  z-index: 2;

  & svg {
    width: 3.5rem;
    height: 3.5rem;
  }
}

.round {
  position: absolute;
  top: 13.6rem;
  left: 414px;
  background: black;
  width: 4rem;
  height: 4rem;
  border-radius: 10rem;

  & input[type='file'] {
    position: absolute;
    transform: scale(2);
    top: .9rem;
    left: 7.4rem;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
  }
}

.userName {
  font-size: 2.2rem;
  font-weight: 500;
}

.introduction {
  min-width: 50rem;
  margin: 0 auto;
}

.status {
  display: flex;
  justify-content: center;
}

.contacts {
  & div:not(:last-child) {
    margin-bottom: .9rem;
  }
}

.contactsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editButton {
  @include buttonStyle;
}
