.home {
    display: flex;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 3px #1e0525 solid;
    font-size: 30px;
    font-family: cursive;
}

.info {
    display: flex;
    border: blue 3px solid;
}
