@import '../../assets/sass/abstracts/vars';

.header {
  min-height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: .4rem .6rem .8rem rgba(34, 60, 80, 0.2);
  background-color: white;
}

.item {
  padding: 1rem 1.5rem;
  cursor: pointer;

  &:first-child {
    margin-left: 3rem;
  }

  &:hover a {
    color: $color-blue-main;
  }
}

.section {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.logoutSection {
  display: flex;
  align-items: center;
  min-width: 45rem;
  justify-content: space-between;
  margin-right: 3rem;
  font-size: 1.7rem;
}
