
.mainFriends {

}


.dialog {
    border: 1px #650158 solid;
    display: flex;
}

.avatar {
    flex: 1 1 20%;
}

.avatar img {
    width: 50px;
    height: 50px;
}

.dialogContent {
    border: 1px red solid;
    flex: 1 1 80%;
}