@import '../sass/abstracts/vars';
@import '../sass/base/animations';

.loader {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border-top: .8rem solid rgba($color-blue-main, 1);
  border-left: .8rem solid rgba($color-blue-main, 1);
  border-right: .8rem solid rgba($color-blue-main, 0);
  animation: spin 0.575s infinite linear;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
