.user {
    display: flex;
    padding: 10px 15px;
    border: 2px black solid;
}

.user img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.boxForNameAndText{

    margin-left: 14px;
    border: 1px red solid;
    /*display: flex;*/
    /*flex-direction: column;*/
}

.userMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}