* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    border: 1px blue solid;
    display: flex;
    flex-wrap: wrap;
}

.content {
    background-color: #faedff;
    border: 3px red solid;
    width: 1400px;
    height: 800px;
}