* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    border: 1px #ff0059 solid;
    display: flex;
    flex-wrap: wrap;
}

.content {
    flex: 0 1 95%;
    background-color: #faedff;
    height: 100vh;
}