.messages {
    display: flex;
    flex-wrap: wrap;
    border: 2px green solid;
    height: 100vh;
}

.mainBox {
    border: 2px red solid;
    flex: 0 1 30%;
}

.user img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.boxForName {
    margin-left: 14px;
    border: 1px red solid;
}

.user {
    display: flex;
    padding: 10px 15px;
}

.userMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}
