.field {
    display: flex;
}

.btn {
    align-self: center;
}

.error {
    margin-top: 5px;
    display: flex;
    padding: 15px;
    align-items: center;
    width: 200px;
    height: 30px;
    color: #700000;
}