.contactBox {
  display: flex;
  align-items: center;

  & a {
    margin-right: 1rem;
  }
}

.button {
  cursor: pointer;
  display: flex;
}

.input {
  font-size: inherit !important;
  font-family: inherit !important;
}
