@import "../../assets/sass/abstracts/mixins";

.contacts {
  & div:not(:last-child) {
    margin-bottom: .9rem;
  }
}

.contactsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editButton {
  @include buttonStyle;
}

.spanAndInput {
  display: flex;
  align-items: center;

  & span {
    margin-right: 1rem;
  }
}

.button {
  cursor: pointer;
  display: flex;
}

.input {
  @include setTextField;
}
